*,
* {
    margin: 0;
    padding:10px;
    box-sizing: border-box; 
}

header {
    display: grid;
    justify-content: center;
}

.container {
    width: 100%;
    height: auto;

}

img {
    width: 100%;
    border-radius: 50px;
}

form {
    border: solid 5px;
}

@media only screen and (max-width: 720px) {
    min-width: 360px;
    }
    .container {
        width: 100%;

    }
    
  